@import url(home_header.css);
@import url(home_main.css);
@import url(home_footer.css);

/*---------------------------------------公共设置---------------------------------------*/
*{
    box-sizing: border-box;
}

body{
    min-width: 1200px;
    margin: 0px;
    padding: 0px;
}

a{
    color: inherit;
    text-decoration: none;
}

input{
    outline: none;
}

/*表格*/
.table{
    display: table;
    border-collapse: collapse;
}
.captain{
    display: table-caption;
}

.row-group{display:table-row-group;}

/*行*/
.row{
    display: table-row;
}
/*单元格*/
 .cell{
     vertical-align: top;
    display: table-cell;
}

 /*去除所有ul的内外边距*/
ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

/*---------------------------------------悬浮交替出现的两个元素---------------------------------------*/
/*正常时的显示项*/
.show{
    display: inline-block;
}
/*正常时的隐藏项*/
.hidden{
    display: none;
}
/*悬浮在宿主上，隐藏显示项*/
.hover_host:hover>.show{
    display: none;
}
/*悬浮在宿主上，显示隐藏项*/
.hover_host:hover>.hidden{
    display: inline-block;
}

.full_width{
    width: 100%;
}

.full_height{
    height: 100%;
}

.relative{
    position: relative;
}

.overflow_hidden{
    overflow: hidden;
}

/*-----------------------------------------区块-----------------------------------------*/



.tongcheng section{
    margin: auto;
    max-width: 1200px;
}




