<lee-sidebar #messageSidebar [(visible)]="isShow">
  <div class="left message-list">
    <message-list (loadMore)="clickLoadMore()" *ngIf="isShow" [(isNoMore)]="isNoMore" [(loading)]="loading" (onFold)="onFold(messageSidebar)" [isUnfold]="isUnfold" (onSelect)="onSelect($event, messageSidebar)" [messages]="handledMessage">
    </message-list>
  </div>
  <div class="right message-detail">
    <message-detail *ngIf="isShow" [message]="selectedMessage"></message-detail>
  </div>
</lee-sidebar>
<div *ngIf="isShow">
  ssss
</div>
<span (click)="isShow = true">
  <ng-content></ng-content>
</span>
