.rili{

    margin: auto;
    margin-top: 50px;
    width: 500px;
    background-color: rgba(0,0,0,0.3);
    font-size: 16px;
}

.rili ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rili .rili_header{
    padding: 10px 15px;
    background-color: lightsteelblue;
    text-align:  center;
}

.rili .time{
    display: inline-block;
    vertical-align: middle;
}

.rili .rili_main{
    line-height: 40px;
}
.rili .week{
    display: flex;
    justify-content: space-around;
    color: #333;
}
.rili .week li{

}

.rili .riqi{
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;


}

.rili .riqi li{
    width: 14.2857%;
    text-align: center;
}

.rili .riqi li a{


    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
}


#lastMonth,#nextMonth{
   margin: 15px;
}

.float_left{
    float: left;
}



.float_right{
    float: right;

}


a{
    color: inherit;
    text-decoration: none;
}