<lee-cascader (clickAddNewItem)="addNewItem($event)" [configs]="configs" [data]="data" [(ngModel)]="value"></lee-cascader>

<lee-dialog [title]="dialogTitle" [size]="'small'" [(visible)]="isShow">
  <add-unit-content [supData]="addedSup" *ngIf="isShow" [unitTypeId]="addedSup.id" (cancel)="isShow = false" (AddSucess)="fillNewItem($event)"></add-unit-content>
</lee-dialog>
<lee-dialog [title]="dialogTitle" [size]="'small'" [(visible)]="isShowType">
  <add-unit-type-content [supData]="addedSup" [cfgs]="configs" *ngIf="isShowType"  (cancel)="isShowType = false" (AddSucess)="fillNewItem($event)"></add-unit-type-content>
</lee-dialog>

