$gray-text-color: #8c8c8c;
$gray-border-color: #c0c0c0;
$primary-color: #5ccc94;
$default-color: #505050;
$back-color: #fff;

$border-color: #979797;
$placehold-color: #222222;;
$default-height: 36px;
$default-font-size: 14px;
$stripe-back-color: #F8F9FA;
$text-hover-color: #fff;
$selected-backcolor: darken($primary-color,10%);
$hover-backcolor: lighten($primary-color,5%);
$selected-hover-backcolor: darken($primary-color,15%);
