.head-nav{
  margin-bottom: 40px;
}
.head-nav>.head-nav-item{
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
}
ul{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: red;
}
.head-nav>.head-nav-item.selected{
  background: red;
}
