<div *ngIf="!disabled" [ngStyle]="{'height': sizeSets[size].height + 'px', 'font-size': sizeSets[size].fontSize + 'px'}" [ngClass]="{'lee-cascader_input':true,'is-drop':isDrop}">
  <div class="lee-input_outer">
    <input [value]="inputValue()" (focus)="changeDrop($event)" placeholder="请选择" class="lee-input_inner"/>
  </div>
  <i (click)="changeDrop($event)" [ngStyle]="{'line-height': sizeSets[size].height - 2 + 'px'}" class="lee-input_icon ui-clickable fa fa-fw fa-angle-down"></i>
</div>

<app-lee-cascader-drop-view
  [ngStyle]="{display:isDrop?'block':'none',width:cfgs.firstWidth?cfgs.firstWidth+'px':'100%'}"
  class="sub-classify lee-cascader-drop-view"
  [isFirstLevel]="true"
  [level]="0"
  (clickAddNewItem)="addNewItem($event)"
  (selectEnd)="selected($event)"
  [selects]="selects"
  [cfgs]="cfgs"
  [data]="data">
</app-lee-cascader-drop-view>
