<header class="message-list-header">
  <app-lee-tab-menu class="message-tab-menu" [(ngModel)]="selectedType" [items] = "messageTypes"></app-lee-tab-menu>
</header>
<div *ngIf="isBeginEdit" class="message-list-edit">
  <div (click)="toggleAll()" class="check">
    <i *ngIf="isSelectAll" class="checked icon-message icon-radio-checked"></i>
    <i *ngIf="!isSelectAll" class="unchecked icon-message icon-danxuan"></i>
    <div class="check-text">全选</div>
  </div>
  <div *ngIf="!isUnfold" (click)="toggleEditState(false)" class="quxiao">
    <i *ngIf="isBeginEdit" class="icon-message icon-quxiao"></i>
  </div>
  <div (click)="clickDelete()"  *ngIf="isBeginEdit" class="delete">
    <i class="icon-message icon-lajixiang"></i>
  </div>
</div>
<div class="postion-container">
  <main [appScrollFixTop]="fixedHeader" #scrollElement appWhenScrolled (clickLoadMore)="clickLoadMore()" [beginLoadBottom]="400" [isNoData]="!messages || messages.length === 0" [isNoMore]="isNoMore" [(loading)]="loading" class="message-list-content">
    <header class="message-list-content-header">
      <div [hidden]="!messages || messages.length === 0" #fixedHeader class="message-list-content-header-title">
        {{(messages && messages.length > 0 ? messages[0].date : '') | curDate}}
      </div>
      <div (click)="toggleEditState(true)" *ngIf="!isBeginEdit && !isUnfold" class="message-list-edit-btn edit">
        <i class="icon-message icon-bianji"></i>
      </div>
      <div class="message-list-fold-btn" *ngIf="isUnfold" (click)="clickFold()">
        <i class="icon-message icon-xiangyouzhankai"></i>
      </div>
    </header>
    <div style="height: 30px" *ngIf="!messages || messages.length === 0"></div>
    <section class="section message-classify" *ngFor="let classify of messages; let section=index">
      <header class="section-header">
        <div class="message-time-title">{{ classify.date | curDate }}</div>
      </header>
      <main class="section-content message-classify-list">
        <li (click)="selectMessage(item, section, cell)" *ngFor="let item of classify.children; let cell = index" class="message-item">
          <header class="message-item-header">
            <div *ngIf="!item.readed" class="message-unread-red-point"></div>
            <div class="message-item-title">{{item.title}}</div>
            <div class="message-item-time">{{ item.create_time | curTime }}</div>
          </header>
          <main class="message-item-content">
            <span>{{item.description}}</span>
          </main>
          <div *ngIf="isBeginEdit" class="simgle-check">
            <i *ngIf="item.isCheck" class="simgle-checked icon-message icon-radio-checked"></i>
            <i *ngIf="!item.isCheck" class="simgle-unchecked icon-message icon-danxuan"></i>
          </div>
        </li>
      </main>
    </section>
  </main>
</div>




