<!--The content below is only a placeholder and can be replaced.-->
<app-unit-cascader [(ngModel)]="unit"></app-unit-cascader>
<div appWhenScrolled [(loading)]="loading"  style="width: 200px;height: 200px;overflow: auto;border: 1px solid lightblue">
  <div style="height: 100px;background: lightcoral; margin: 20px"></div>
  <div style="height: 100px;background: lightcoral; margin: 20px"></div>
  <div style="height: 100px;background: lightcoral; margin: 20px"></div>
  <div style="height: 100px;background: lightcoral; margin: 20px"></div>
  <div style="height: 100px;background: lightcoral; margin: 20px"></div>
  <div style="height: 100px;background: lightcoral; margin: 20px"></div>
  <div style="height: 100px;background: lightcoral; margin: 20px"></div>
</div>
<input [(ngModel)]="name">
<div appFixedCenter style="width: 100px; height: 100px"></div>
<app-message></app-message>
