:host {
  display: inline-block;
  border-radius: 2px;
  border: solid 1px #8c8c8c;
  font-size: 14px;
  .lee-tab-menu-item{
    display: inline-block;
    width: 79px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #8c8c8c;
    color: #fff;
    &.actived{
      color: #8c8c8c;
      background-color: #fff;
    }
    cursor: pointer;
  }
}
