.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.box1 {
  background: red;
}
.container {
  background: red;
}
.container .box2 {
  color: blue;
}
.box {
  width: 10px;
}
