/*头部登录注册部分*/
 .header_login{
    background-color: rgb(230,230,230);
    line-height: 30px;
    color: rgb(156,153,153);
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid rgb(200,200,200);
}

/*会高亮的链接*/
.header_login .a_highlight:hover{
    color: rgb(248,105,0);
}
/*红色登录按钮*/
.header_login .red{
    color: rgb(248,105,0);
}
/*右侧导航条*/
.header_login .rightNv{
    float: right;
    height: 100%;
    color: rgb(102,102,102);
    vertical-align: middle;

}
.header_login .rightNv_item{
    position: relative;
    display: inline-block;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}
/*右侧导航项的悬置效果*/
.header_login .rightNv_item:hover{
    background-color: white;

}

/*右侧隐藏项*/
.header_login .hidden_item{
    position: absolute;
    right: 0px;
    z-index: 1;
    padding: 9px;
    background-color: white;
}
.header_login .hidden1{
    display: none;
    left: 0px;
    width: 160px;

}
.header_login .hidden2{
    display: none;
    width: 140px;
    left: 0px;
    padding: 0px;

}
.header_login .hidden3{
    display: none;
    padding: 15px 18px 15px 10px;
    width: 250px;
}
.header_login .hidden4{
    display: none;
    width: 200px;
}
.header_login .hidden5{
    display: none;
    width: 90px;

}
.header_login .hidden6{
    display: none;
    width: 90px;

}



/*悬置显示隐藏项*/
.header_login .item1:hover .hidden1{

    display: block;
}
.header_login .item2:hover .hidden2{
    display: block;
}
.header_login .item3:hover .hidden3{
    display: block;
}
.header_login .item4:hover .hidden4{

    display: block;
}
.header_login .item5:hover .hidden5{
    display: block;
}
.header_login .item6:hover .hidden6{
    display: block;
}

.header_login .hidden2 img{
    width: 100%;
}


.header_login li{
    padding: 2px 10px 2px 10px;
}

.header_login li:hover{
    background-color: rgb(236,236,236);
    color: black;
}

.header_login .cell_h{
    display: table-cell;
    padding: 0px 10px;
}